/* styles.css */

/* Styles généraux */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #87CEEB;
    margin: 0;
    padding: 0;
}

.entete {
    font-size: 15px;
    color: rgb(46, 43, 43);
    padding: auto;
    margin: auto;
    text-align: center;
}

.list-titre {
    margin-bottom: 20px;
}

/* Bouton de création de carte */
.create-card {
    border-radius: 90px; /* Bordure arrondie */
    font-size: 20px; /* Taille de la police */
    border: 1px solid rgb(103, 192, 43); /* Bordure */
    background-color: rgb(103, 192, 43); /* Couleur de fond */
    color: white; /* Couleur du texte */
    margin-top: 20px; /* Marge supérieure pour l'espace */
    margin-bottom: 20px; /* Marge inférieure */
}

/* Barre de recherche */
.search-bar {
    margin-bottom: 10px;
    border-radius: 5px; /* Bordure arrondie */
    border: 1px solid #ccc; /* Bordure grise */
    padding: 5px 10px; /* Espacement à l'intérieur de la barre */
    width: auto; /* Largeur de la barre de recherche */
}

/* Conteneur de cartes */
.list-card {
    display: flex; /* Utilisation de Flexbox pour aligner les cartes */
    flex-wrap: wrap; /* Permettre aux cartes de passer à la ligne si nécessaire */
}

/* Styles pour chaque carte */
.carte {
   /* display: inline-flex; /* Utiliser flexbox pour centrer l'image 
    justify-content: center; /* Centrer horizontalement 
    align-items: center; /* Centrer verticalement */
    width: 88px; /* Définir une largeur minimale pour la carte */
    min-width: 88px; /* Largeur minimale */
    height: 110px; /* Hauteur de la carte */
    margin-right: 10px; /* Espacement entre les cartes horizontalement */
    margin-bottom: 10px; /* Espacement entre les cartes verticalement */
    border-radius: 10px; /* Coins arrondis */
    background-image: url("https://cdn.discordapp.com/attachments/1062809373828714576/1210280203402878976/textureH.png?ex=65e9fc46&is=65d78746&hm=c7867293bd7678378d4e8371375c6e633c3b22b4260e298d2484c6bd912d1e0f&");
    color: #fff; /* Couleur du texte */
    border: #78b8ff; /* Bordure de la carte */
}

/* Style de l'image à l'intérieur de la carte */
/* Style pour l'image dans chaque carte */
.carte img{
    max-width: 100%; /* Taille maximale de l'image pour s'adapter à la carte */
    max-height: 100%; /* Taille maximale de l'image pour s'adapter à la carte */
    position: absolute; /* Position absolue pour centrer l'image */
    left: 50%; /* Positionner l'image à 50% du haut de la carte */
    right: 50%; /* Positionner l'image à 50% de la droite de la carte */
    transform: translate(50%, -50%); /* Décaler l'image de moitié de sa propre taille pour la centrer */
}


/* Style du lien à l'intérieur de la carte */
.carte a {
    display: block; /* Permettre au lien d'occuper tout l'espace de la carte */
    text-decoration: none; /* Supprimer le soulignement du lien */
    text-align: center; /* Centrer le texte */
    color: #fff;
    padding-top: 5px; /* Espacement en haut du texte */
}

/* Style du bouton de suppression */
.delete-button {
    background-color: #c6003e; /* Couleur de fond du bouton de suppression */
    color: #fff; /* Couleur du texte du bouton de suppression */
    border: none; /* Supprimer les bordures */
    padding: 5px 10px; /* Espacement à l'intérieur du bouton */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur de la souris en forme de main */
    margin-left: 2.5px; /* Espacement à gauche du bouton */
    margin-right: 20px;
    margin-top: 10px; /* Espacement en haut du bouton */
    margin-bottom: 45px; /* Espacement en bas du bouton */
}
