/* styles.css */

/* Styles généraux */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #87CEEB;
    margin: 0;
    padding: 0;
}

.entete {
    font-size: 15px;
    color: rgb(46, 43, 43);
    padding: auto;
    margin: auto;
    text-align: center;
}

.list-titre {
    margin-bottom: 20px;
}

/* Bouton de création de carte */
.create-card {
    border-radius: 90px; /* Bordure arrondie */
    font-size: 20px; /* Taille de la police */
    border: 1px solid rgb(103, 192, 43); /* Bordure */
    background-color: rgb(103, 192, 43); /* Couleur de fond */
    cursor: pointer;
    color: white; /* Couleur du texte */
    margin-top: 20px; /* Marge supérieure pour l'espace */
    margin-bottom: 20px; /* Marge inférieure */
}

/* Barre de recherche */
.search-bar {
    margin-bottom: 10px;
    border-radius: 5px; /* Bordure arrondie */
    border: 1px solid #ccc; /* Bordure grise */
    padding: 5px 10px; /* Espacement à l'intérieur de la barre */
    width: auto; /* Largeur de la barre de recherche */
}

/* Conteneur de cartes */
.list-card {
    display: flex; /* Utilisation de Flexbox pour aligner les cartes */
    flex-wrap: wrap; /* Permettre aux cartes de passer à la ligne si nécessaire */
}

/* Styles pour chaque carte */
/* Styles pour les cartes */
.carte {
    display: inline-flex; /* Utiliser flexbox pour centrer l'image */
    flex-direction: column; /* Aligner les éléments en colonne */
    align-items: center; /* Centrer les éléments horizontalement */
    width: 88px; /* Largeur fixe minimale de la carte */
    height: 110px; /* Hauteur fixe de la carte */
    margin-right: 0px; /* Marge à droite de chaque carte */
    margin-left: 10px;
    margin-bottom: 60px; /* Marge en bas de chaque carte */
    border-radius: 10px; /* Coins arrondis */
    background-image: url("https://cdn.discordapp.com/attachments/1062809373828714576/1210280203402878976/textureH.png?ex=65e9fc46&is=65d78746&hm=c7867293bd7678378d4e8371375c6e633c3b22b4260e298d2484c6bd912d1e0f&");
    color: #fff; /* Couleur du texte */
    border: #78b8ff; /* Couleur de la bordure */
}

/* Style pour l'image à l'intérieur de la carte */
.carte img {
    width: 75px; /* Largeur de l'image */
    height: auto; /* Hauteur automatique de l'image */
    margin-bottom: 5px; /* Marge en bas de l'image */
}

/* Style pour le texte à l'intérieur de la carte */
.carte a {
    display: block; /* Afficher le texte en bloc */
    color: #fff;
    text-align: center; /* Centrer le texte horizontalement */
    text-decoration: none; /* Supprimer le soulignement du lien */
}


/* Style du bouton de suppression */
.delete-button {
    background-color: #c6003e; /* Couleur de fond du bouton de suppression */
    color: #fff; /* Couleur du texte du bouton de suppression */
    border: none; /* Supprimer les bordures */
    padding: 5px 10px; /* Espacement à l'intérieur du bouton */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur de la souris en forme de main */
    margin-left: 0px; /* Espacement à gauche du bouton */
    margin-right: 0px;
    margin-top: 15px; /* Espacement en haut du bouton */
    margin-bottom: 45px; /* Espacement en bas du bouton */
    /*left: 50%;
    transform: translateX(-50%); /* Centrer horizontalement 
    margin-left: 0; /* Ajoutez cette ligne pour enlever la marge gauche 
    margin-right: 0; /* Ajoutez cette ligne pour enlever la marge droite */
}

.hidden {
    display: none;
}

/* Barre de défilement pour Chrome, Safari et Opera */
::-webkit-scrollbar {
    width: 10px; /* Largeur de la barre de défilement */
}

::-webkit-scrollbar-track {
    background-color: transparent; /* Couleur de fond de la piste */
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* Couleur du bouton de défilement */
    border-radius: 5px; /* Coins arrondis */
}

/* Barre de défilement pour Firefox */
::-moz-scrollbar {
    width: 10px; /* Largeur de la barre de défilement */
}

::-moz-scrollbar-track {
    background-color: transparent; /* Couleur de fond de la piste */
}

::-moz-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* Couleur du bouton de défilement */
    border-radius: 5px; /* Coins arrondis */
}